.header {
  display: flex;
  justify-content: space-between;
}

.title {
  text-decoration: none;
  color: black;
}

.user {
  padding-top: 10px;
  text-decoration: none;
  color: blue;
  font-size: 1.17em;
  font-weight: 700;
}

